
.queryType-alt {
    border-radius: 10;
  }

.queryType-alt span:hover {
  cursor: pointer;
  font-weight: bold;
}

  li.fieldType-alt {
    position:relative;
  }
  li.fieldType-alt::before {
      position: relative;
      top: -4px;
      width: 15px;
      border-bottom: 1px solid rgb(170, 170, 170);
      content: '';
      display: inline-block;
  }

  li.fieldType-alt::after {
      position: absolute;
      left: 0;
      top: 0;
      height: 18px;
      border-left: 1px solid rgb(170, 170, 170);
      content: '';
      display: inline-block;
  }

ul {
  padding-bottom: 5px;
}

li {
  padding-bottom: 5px;
}

.notleaf:hover {
  font-weight: bold;
  cursor: context-menu;
}

a {
  color: #5fefd0;
}

